#vermelho{
	width: 250px;
	height: 250px;
	background-color: #ff0000
}
#verde{
	width: 250px;
	height: 250px;
	background-color: #00ff00
}
#azul{
	width: 250px;
	height: 250px;
	background-color: #0000ff
}